<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511669222189-1n6lvn43d9db4c8q60n2rmktfmsnqkro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511669222189-1n6lvn43d9db4c8q60n2rmktfmsnqkro</string>
	<key>API_KEY</key>
	<string>AIzaSyAAFj59ntvUOZzERJ1ci7neLkhlwt-CQdI</string>
	<key>GCM_SENDER_ID</key>
	<string>511669222189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spinnybox.game.2d</string>
	<key>PROJECT_ID</key>
	<string>spinnybox2d</string>
	<key>STORAGE_BUCKET</key>
	<string>spinnybox2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511669222189:ios:79d78a16a6e7f341b171a4</string>
</dict>
</plist>