/* Find similar fonts here: https://www.1001fonts.com/3d+handwritten-fonts.html?page=1
  TODO provide attribution to the font creator
*/
@font-face {
  font-family: "sippin";
  src: url("/fonts/sippin.woff2") format("woff2"),
       url("/fonts/sippin.otf") format("opentype");
}

@font-face {
  font-family: "gloriah";
  src: url("/fonts/gloriah.woff2") format("woff2"),
       url("/fonts/gloriah.ttf") format("truetype");
}


.hand-drawn-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  filter: url(#hand-drawn);
}

