name: 'ci'

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  checks:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: setup development environment
        uses: ./.github/actions/devenv
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: cache rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}

      - name: build
        run: build:all
        shell: bash

      - name: lint
        run: lint:all
        shell: bash
